swagger: '2.0'
info:
  description: Manage the asset
  title: Glimpse Service asset
  version: 0.0.1-alpha
host: asset.glimpse.online
basePath: "/"
consumes:
- application/json
produces:
- application/json
schemes:
- http

paths:

  "/healthz":
    get:
      description: Check the health of the service
      operationId: Healthz
      responses:
        200:
          description: Service is healthy
          schema:
            $ref: "#/definitions/SuccessResponse"

  "/image":
    post:
      description: Upload an image
      operationId: UploadImage
      consumes:
      - multipart/form-data
      parameters:
      - name: media
        in: formData
        description: uploaded asset
        required: true
        type: string
      - name: user_id
        in: formData
        description: UserId of the user
        required: true
        type: string

      responses:
        200:
          description: Return the image URL
          schema:
            $ref: "#/definitions/UploadImageResponse"

  "/images-url-bulk":
    post:
      description: Get the URL of images in bulk
      operationId: ImagesUrlBulk
      parameters:
      - in: body
        name: bulkImage
        description: Image Names
        required: true
        schema:
          $ref: "#/definitions/ImagesParameters"
      responses:
        200:
          description: Return the URLs of the images in intput
          schema:
            $ref: "#/definitions/ImageUrlBulkResponse"

  "/image/{imageName}":
    get:
      description: Get an image URL from the image name
      operationId: GetImage
      parameters:
      - name: imageName
        in: path
        description: name of the image
        required: true
        type: string

      responses:
        200:
          description: Return the image URL
          schema:
            $ref: "#/definitions/UploadImageResponse"

definitions:

  SuccessResponse:
    type: object
    properties:
      status:
        type: boolean

  UploadImageResponse:
    type: object
    properties:
      image_name:
        description: Name of the image uploaded
        type: string
      image_url:
        description: Url of the image uploaded
        type: string

  ImageUrlBulkResponse:
    type: object
    properties:
      image_name:
        description: Name and URL of the image uploaded
        type: string

  ImagesParameters:
    type: object
    properties:
      images:
        type: array
        items:
          $ref: "#/definitions/ImageUrl"

  ImageUrl:
    type: string
    description: Image Url

securityDefinitions:
  api_key:
    type: apiKey
    name: key
    in: query

  firebase:
    authorizationUrl: ""
    flow: implicit
    type: oauth2
    x-google-issuer: "https://securetoken.google.com/glimpse-123456"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"